<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Chart JS Graph Examples | Gentallela Alela! by Colorlib</title>



    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->

    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Blaze Dogger</span></a>
            </div>



            <div class="clearfix"></div>


            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Mappings</h3>
    

                <ul class="nav side-menu" id="mappings_list">


                  {{#each mappings}}
                  <li><a> {{name}} {{status}} <span></span></a></li>

                  {{/each}}

                </ul>
              </div>


            </div>

          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav class="" role="navigation">


            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>{{mapping.mappingId}} <small>{{mapping.applicationID}}</small></h3>
              </div>

    

                <div class="col-md-5 pull-right ">
                    <img src="img/Informatica.png" style="width:150px;height:100px; margin-top:-20px;float:right">
                </div>
              </div>
            </div>


            <!--  style="visibility: hidden" Hidden DIVS For Graphs-->

            <div id="successfulTasklets" style="visibility: hidden"> {{mapping.succeededTaskletCount}}</div>
            <div id="failedTasklets"  style="visibility: hidden">{{mapping.failedTaskletCount}}</div>

            <div id="containerManager">
         
            {{#each containerManager}}
              <li name="{{name}}" success="{{successfulTasklets}}" fail ="{{failedTasklets}}"> </li>
            {{/each}}
            </div>


            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Tasklet Summary<small>Sessions</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                     <div id="graph_donut"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Tasklet Execution Distributions <small>Sessions</small></h2>

                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <canvas id="mybarChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
           <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Failed Tasklet logs <small>View</small></h2>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th class="column-title">Tasklet ID </th>
                            <th class="column-title">Node</th>
                            <th class="column-title no-link last"><span class="nobr">Container Manager Log</span>
                            </th>
                            <th class="column-title no-link last"><span class="nobr">Tasklet Error</span>
                            </th>

                            <th class="column-title no-link last"><span class="nobr">Full Log</span>
                            </th>



                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                              {{#each mapping.tasklets}}
                     
                                  <tr class="even pointer">

                                    <td class=" "> {{taskletID}} </td>
                                    <td class=" "> {{nodeName}} </td>
                                    <td class=" last">
                                          <!-- Button trigger modal -->
                                          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalCM{{taskletID}}">
                                             Container Manager Log
                                          </button>

                                          <!-- Modal -->
                                          <div class="modal fade" id="myModalCM{{taskletID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog modal-lg" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                  <h4 class="modal-title" id="myModalLabel">Container Manager Log</h4>
                                                </div>
                                                <div class="modal-body">
                                                  {{containerManagerLog}}
                                                </div>
                                                <div class="modal-footer">

                                                  <button type="button" class="btn btn-success" data-dismiss="modal">Dismiss</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>


                                    </td>

                                    <td class=" last">
                                          <!-- Button trigger modal -->
                                          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal{{taskletID}}">
                                            View Errors in Log
                                          </button>

                                          <!-- Modal -->
                                          <div class="modal fade" id="myModal{{taskletID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog modal-lg" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                  <h4 class="modal-title" id="myModalLabel">Tasklet Log</h4>
                                                </div>
                                                <div class="modal-body">
                                                  {{taskletLogFileErrors}}
                                                </div>
                                                <div class="modal-footer">

                                                  <button type="button" class="btn btn-success" data-dismiss="modal">Dismiss</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>


                                    </td>

                                    <td class=" last">
                                          <!-- Button trigger modal -->
                                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalFullLog{{taskletID}}">
                                             Full Tasklet Log
                                          </button>

                                          <!-- Modal -->
                                          <div class="modal fade" id="myModalFullLog{{taskletID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog modal-lg" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                  <h4 class="modal-title" id="myModalLabel">Tasklet Log</h4>
                                                </div>
                                                <div class="modal-body">
                                                  {{taskletLogFileContent}}
                                                </div>
                                                <div class="modal-footer">

                                                  <button type="button" class="btn btn-success" data-dismiss="modal">Dismiss</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>


                                    </td>



                                  </tr>


                              {{/each}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="dist/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- FastClick -->
    <script src="dist/js/fastclick.js"></script>
    <!-- NProgress -->
    <script src="dist/js/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="dist/js/Chart.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="dist/js/custom.min.js"></script>


    <script src="dist/js/bootstrap.min.js"></script>
    <script src="js/initializeHome.js"></script>

    <script src="dist/js/raphael.min.js"></script>
    <script src="dist/js//morris.min.js"></script>


        <!-- Bootstrap core JavaScript
    ================================================== -->

  </body>
</html>
